* {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

section {
    background-image: url(bgtest.jpg);
    background-repeat: repeat-y;
}

.conteiner {
    margin: 0 auto;
    width: 900px;
    padding-left: 15%;
    color: #ffffff;
}

p {
    text-indent: 25px;
    line-height: 150%;
}

aside {
	background-color: #000;
	width: 15%;
	float: left;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

aside img {
	float: left;
}

nav {
	clear: both;
	height: 100%;
}

nav ul li{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

nav ul {
	list-style: none;
	text-align: center;
	margin-right: 10px;
}

nav ul li {
	background-color: #202020;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10px;
	margin-bottom: 5px;
    font-weight: bold;
}

nav ul li:hover {
	background-color: #505050;
}

.logo {
	margin: 60px auto;
    margin-bottom: 40px;
    width: 100px;
}

.video {
	margin-top: 50px;
}

.padrao {
    text-align: center;
}

.titulo {
padding-top: 100px
}

.titulo h1 {
    margin-bottom: 0px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
}

.sobre {
    margin-top: 200px;
}

.sobre iframe {
    float: left;
}

.sobre a {
color: #fff;
}

iframe {
margin-right: 15px;
}

.conte {
    margin-top: 200px;
}

.conte form {
    margin-top: 60px;
}

p.margemvideos {
    margin-bottom: 50px;
}

.agradecimentos {
    margin-top: 250px;
}

.agradecimentos a {
    color: #fff;
}

.sobre {
    margin-top: 350px;
    margin-bottom: 400px;
}